DB_USERNAME=root
DB_PASSWORD=password_db
DB_URL=jdbc:mysql://url:port/name
CORS_ORIGINS=http://localhost:8081,http://localhost:19006,http://10.0.2.2:8080

FIREBASE_SERVICE_ACCOUNT=src/main/resources/nombre_firebase_adminsdk